@charset "utf-8";

body {
    background-image: url(wallpaper2.jpg);
    background-size: cover;
    color: white;
}

h1, h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: aliceblue;
}

.categories-container {
    background: rgba(163, 224, 243, 0.459);
    padding: 20px;
    border-radius: 10px;
}


.categories-container a {
    text-decoration: none; 
    color: rgb(18, 121, 238); 
}

.categories-container .col-md-4 {
    text-align: center; 
    align-items: center;
    justify-content: center;
}

.categories-container i {
    display: block;
    margin: 0 auto 10px auto; 
}

.E {
    margin-left: 19%;
}

/* Animacion icono */
.categories-container a {
    display: block;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.categories-container i, .categories-container p {
    transition: transform 0.3s ease, color 0.3s ease; 
}

.categories-container a:hover i,
.categories-container a:hover p {
    transform: scale(1.3); 
    color: #ffffff; 
}
